@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,regular,500,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-f:before {
  content: "\e902";
}

._icon-go:before {
  content: "\e903";
}

._icon-in:before {
  content: "\e904";
}

._icon-search:before {
  content: "\e905";
}

._icon-tw:before {
  content: "\e906";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Fira Sans";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Fira Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #f4f4f4;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 69.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -1px;
  color: #222222;
}

@supports (font-size: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
  .title {
    font-size: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.762195122rem  +  2.4390243902vw , 2.5rem )) {
  .title {
    font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 51.25);
  }
}

.info {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #222222;
}

.header {
  padding: 59px 0px;
}

@supports (padding-top: clamp( 1.625rem , 0.8201219512rem  +  4.0243902439vw , 3.6875rem )) {
  .header {
    padding-top: clamp( 1.625rem , 0.8201219512rem  +  4.0243902439vw , 3.6875rem );
  }
}

@supports not (padding-top: clamp( 1.625rem , 0.8201219512rem  +  4.0243902439vw , 3.6875rem )) {
  .header {
    padding-top: calc(1.625rem + 2.0625 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 1rem , -0.0487804878rem  +  5.243902439vw , 3.6875rem )) {
  .header {
    padding-bottom: clamp( 1rem , -0.0487804878rem  +  5.243902439vw , 3.6875rem );
  }
}

@supports not (padding-bottom: clamp( 1rem , -0.0487804878rem  +  5.243902439vw , 3.6875rem )) {
  .header {
    padding-bottom: calc(1rem + 2.6875 * (100vw - 20rem) / 51.25);
  }
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  color: #222222;
  font-weight: 400;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 1.25rem;
}

@supports (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem )) {
  .header__logo {
    font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem )) {
  .header__logo {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 51.25);
  }
}

.header__search {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 19px;
          flex: 0 1 19px;
  z-index: 10;
}

.header__menu {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.search-box {
  position: relative;
}

.search-box input[type=text] {
  border: none;
  background: none;
  z-index: 1;
  margin: 5px 0px 0px 0px;
  width: 19px;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in 0.25s;
  -o-transition: all 0.25s ease-in 0.25s;
  transition: all 0.25s ease-in 0.25s;
  color: #000;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.0416666667;
}

.search-box input[type=text]:hover {
  cursor: pointer;
}

.search-box input[type=text]:hover:focus {
  cursor: text;
}

.search-box input[type=text]:hover + span {
  background: white;
}

.search-box input[type=text]:focus {
  opacity: 1;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: black;
}

@supports (width: clamp( 10rem , 9.0243902439rem  +  4.8780487805vw , 12.5rem )) {
  .search-box input[type=text]:focus {
    width: clamp( 10rem , 9.0243902439rem  +  4.8780487805vw , 12.5rem );
  }
}

@supports not (width: clamp( 10rem , 9.0243902439rem  +  4.8780487805vw , 12.5rem )) {
  .search-box input[type=text]:focus {
    width: calc(10rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}

.search-box input[type=text]:focus + span {
  background-color: #fff;
  height: 2.125rem;
  border: none;
  border-bottom: 1px solid #000;
  border-radius: 0;
}

@supports (width: clamp( 10rem , 9.0243902439rem  +  4.8780487805vw , 12.5rem )) {
  .search-box input[type=text]:focus + span {
    width: clamp( 10rem , 9.0243902439rem  +  4.8780487805vw , 12.5rem );
  }
}

@supports not (width: clamp( 10rem , 9.0243902439rem  +  4.8780487805vw , 12.5rem )) {
  .search-box input[type=text]:focus + span {
    width: calc(10rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}

.search-box input[type=text]:focus + span::before {
  width: 2px;
  opacity: 0;
  -webkit-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.search-box input[type=text] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid black;
  top: 0;
  width: 19px;
  height: 19px;
  -webkit-transition: all 0.25s ease-in 0.25s;
  -o-transition: all 0.25s ease-in 0.25s;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}

.search-box input[type=text] + span::before {
  -webkit-transition: all 0.25s ease-in 0.5s;
  -o-transition: all 0.25s ease-in 0.5s;
  transition: all 0.25s ease-in 0.5s;
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  content: "";
  position: absolute;
  width: 8px;
  height: 3px;
  border-radius: 5px;
  background: black;
  -webkit-transform: rotate(45deg) translate(19px, -2px);
      -ms-transform: rotate(45deg) translate(19px, -2px);
          transform: rotate(45deg) translate(19px, -2px);
}

.icon-menu {
  display: block;
  position: relative;
  width: 2.125rem;
  height: 1.25rem;
  cursor: pointer;
  z-index: 50;
}

.icon-menu span {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 50%;
  height: 0.1875rem;
  background-color: #222222;
  top: 0;
}

.icon-menu::before {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  right: 0;
  position: absolute;
  width: 100%;
  height: 0.1875rem;
  background-color: #222222;
}

.icon-menu::before {
  top: 0;
}

.icon-menu span {
  top: calc(50% - 0.0625rem);
}

.menu-open .icon-menu span {
  width: 100%;
  color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .icon-menu::before {
  top: calc(50% - 0.0625rem);
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu {
  z-index: 50;
}

.menu__body {
  position: fixed;
  top: 0;
  overflow: auto;
  right: 0;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 30vw;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #931515;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  min-width: 320px;
}

.menu__list {
  text-align: center;
  margin: 0px 10px;
}

.menu__item {
  margin: 0px 0px 3.75rem 0px;
}

.menu__item:last-child {
  margin: 0px 0px 0px 0px;
}

.menu__link {
  color: #fff;
  font-size: 2.5rem;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-weight: 400;
}

.menu-open .icon-menu span,
.menu-open .icon-menu::before {
  background-color: #ffffff;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.menu-open .menu__body {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.icon-menu:hover span,
.icon-menu:hover::before {
  background-color: #f96241;
}

.footer {
  background-color: #515151;
}

@supports (padding-top: clamp( 1.25rem , 0.0426829268rem  +  6.0365853659vw , 4.34375rem )) {
  .footer {
    padding-top: clamp( 1.25rem , 0.0426829268rem  +  6.0365853659vw , 4.34375rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.0426829268rem  +  6.0365853659vw , 4.34375rem )) {
  .footer {
    padding-top: calc(1.25rem + 3.09375 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 0.875rem , 0.3676829268rem  +  2.5365853659vw , 2.175rem )) {
  .footer {
    padding-bottom: clamp( 0.875rem , 0.3676829268rem  +  2.5365853659vw , 2.175rem );
  }
}

@supports not (padding-bottom: clamp( 0.875rem , 0.3676829268rem  +  2.5365853659vw , 2.175rem )) {
  .footer {
    padding-bottom: calc(0.875rem + 1.3 * (100vw - 20rem) / 51.25);
  }
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-top: clamp( 0.625rem , -0.0140243902rem  +  3.1951219512vw , 2.2625rem )) {
  .footer__bottom {
    padding-top: clamp( 0.625rem , -0.0140243902rem  +  3.1951219512vw , 2.2625rem );
  }
}

@supports not (padding-top: clamp( 0.625rem , -0.0140243902rem  +  3.1951219512vw , 2.2625rem )) {
  .footer__bottom {
    padding-top: calc(0.625rem + 1.6375 * (100vw - 20rem) / 51.25);
  }
}

@supports (margin-top: clamp( 0.625rem , -0.1554878049rem  +  3.9024390244vw , 2.625rem )) {
  .footer__bottom {
    margin-top: clamp( 0.625rem , -0.1554878049rem  +  3.9024390244vw , 2.625rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , -0.1554878049rem  +  3.9024390244vw , 2.625rem )) {
  .footer__bottom {
    margin-top: calc(0.625rem + 2 * (100vw - 20rem) / 51.25);
  }
}

.top-footer__logo {
  color: white;
  font-weight: 400;
}

@supports (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem )) {
  .top-footer__logo {
    font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9024390244rem  +  0.487804878vw , 1.25rem )) {
  .top-footer__logo {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 51.25);
  }
}

@supports (margin-right: clamp( 0.25rem , 0.1036585366rem  +  0.7317073171vw , 0.625rem )) {
  .top-footer__logo {
    margin-right: clamp( 0.25rem , 0.1036585366rem  +  0.7317073171vw , 0.625rem );
  }
}

@supports not (margin-right: clamp( 0.25rem , 0.1036585366rem  +  0.7317073171vw , 0.625rem )) {
  .top-footer__logo {
    margin-right: calc(0.25rem + 0.375 * (100vw - 20rem) / 51.25);
  }
}

.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-right: clamp( 0.0625rem , -1.3521341463rem  +  7.0731707317vw , 3.6875rem )) {
  .menu-footer__item {
    margin-right: clamp( 0.0625rem , -1.3521341463rem  +  7.0731707317vw , 3.6875rem );
  }
}

@supports not (margin-right: clamp( 0.0625rem , -1.3521341463rem  +  7.0731707317vw , 3.6875rem )) {
  .menu-footer__item {
    margin-right: calc(0.0625rem + 3.625 * (100vw - 20rem) / 51.25);
  }
}

.menu-footer__item:last-child {
  margin: 0px 0px 0px 0px;
}

.menu-footer__link {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  color: #ffffff;
  white-space: nowrap;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form-footer {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 17.41875rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 0px 0px 0.625rem;
}

.form-footer input {
  max-width: 10.625rem;
  padding: 0.5625rem 1.625rem 0.5625rem 1.25rem;
  color: #222222;
  max-height: 2.5rem;
  font-size: 1.125rem;
}

.form-footer__input {
  margin: 0px 0.9375rem 0px 0px;
}

.form-footer__button {
  background-color: #c6b393;
  color: #ffffff;
  text-transform: uppercase;
  max-height: 2.5rem;
  padding: 12px 25px;
  font-size: 0.875rem;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.form__error {
  margin: 10px 0px 0px 0px;
}

.bottom-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (margin-right: clamp( 0.625rem , -0.1798780488rem  +  4.0243902439vw , 2.6875rem )) {
  .bottom-footer__item {
    margin-right: clamp( 0.625rem , -0.1798780488rem  +  4.0243902439vw , 2.6875rem );
  }
}

@supports not (margin-right: clamp( 0.625rem , -0.1798780488rem  +  4.0243902439vw , 2.6875rem )) {
  .bottom-footer__item {
    margin-right: calc(0.625rem + 2.0625 * (100vw - 20rem) / 51.25);
  }
}

.bottom-footer__item:last-child {
  margin: 0px 0px 0px 0px;
}

.bottom-footer__link {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 18px;
  line-height: 1.5555555556;
  color: #ffffff66;
}

@supports (margin-left: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem )) {
  .bottom-footer__link {
    margin-left: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem );
  }
}

@supports not (margin-left: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem )) {
  .bottom-footer__link {
    margin-left: calc(0.625rem + 0.3125 * (100vw - 20rem) / 51.25);
  }
}

@supports (margin-left: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem )) {
  .social-footer {
    margin-left: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem );
  }
}

@supports not (margin-left: clamp( 0.625rem , 0.5030487805rem  +  0.6097560976vw , 0.9375rem )) {
  .social-footer {
    margin-left: calc(0.625rem + 0.3125 * (100vw - 20rem) / 51.25);
  }
}

.social-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-footer__item {
  margin: 0px 11px 0px 0px;
}

.social-footer__item:last-child {
  margin: 0px 0px 0px 0px;
}

.social-footer__link {
  color: #ffffff66;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  font-size: 24px;
}

.hero {
  position: relative;
}

:root {
  --swiper-theme-color: #c6b393 !important;
}

.swiper-pagination-progressbar {
  background: #d7d4d4 !important;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 278px !important;
  left: 16% !important;
  top: 70% !important;
}

.hero {
  position: relative;
}

.hero__body {
  max-width: 474px;
  z-index: 10;
  position: absolute;
  top: 10%;
  left: 21%;
}

.hero__title {
  font-weight: 700;
  line-height: 1.1666666667;
  letter-spacing: -1px;
  color: #151515;
}

@supports (font-size: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem )) {
  .hero__title {
    font-size: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.2743902439rem  +  4.8780487805vw , 3.75rem )) {
  .hero__title {
    font-size: calc(1.25rem + 2.5 * (100vw - 20rem) / 51.25);
  }
}

@supports (margin-top: clamp( 0.625rem , 0.137195122rem  +  2.4390243902vw , 1.875rem )) {
  .hero__info {
    margin-top: clamp( 0.625rem , 0.137195122rem  +  2.4390243902vw , 1.875rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , 0.137195122rem  +  2.4390243902vw , 1.875rem )) {
  .hero__info {
    margin-top: calc(0.625rem + 1.25 * (100vw - 20rem) / 51.25);
  }
}

.hero__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #4737ff;
  padding: 18px 30px;
  display: inline-block;
}

@supports (margin-top: clamp( 0.625rem , -0.4969512195rem  +  5.6097560976vw , 3.5rem )) {
  .hero__link {
    margin-top: clamp( 0.625rem , -0.4969512195rem  +  5.6097560976vw , 3.5rem );
  }
}

@supports not (margin-top: clamp( 0.625rem , -0.4969512195rem  +  5.6097560976vw , 3.5rem )) {
  .hero__link {
    margin-top: calc(0.625rem + 2.875 * (100vw - 20rem) / 51.25);
  }
}

.swiper-slide {
  z-index: 50;
}

.swiper-slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  position: relative;
}

.swiper-slide__image {
  width: 51vw;
  height: 90vh;
}

.swiper-slide__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-slide__video {
  height: auto;
  position: absolute;
  top: 45vh;
  right: 25vw;
}

.swiper-slide__video iframe {
  max-width: 100%;
}

.clients {
  background-color: #fafafa;
}

@supports (padding-top: clamp( 1.25rem , -0.75rem  +  10vw , 6.375rem )) {
  .clients {
    padding-top: clamp( 1.25rem , -0.75rem  +  10vw , 6.375rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.75rem  +  10vw , 6.375rem )) {
  .clients {
    padding-top: calc(1.25rem + 5.125 * (100vw - 20rem) / 51.25);
  }
}

@supports (padding-bottom: clamp( 0.875rem , -2.1006097561rem  +  14.8780487805vw , 8.5rem )) {
  .clients {
    padding-bottom: clamp( 0.875rem , -2.1006097561rem  +  14.8780487805vw , 8.5rem );
  }
}

@supports not (padding-bottom: clamp( 0.875rem , -2.1006097561rem  +  14.8780487805vw , 8.5rem )) {
  .clients {
    padding-bottom: calc(0.875rem + 7.625 * (100vw - 20rem) / 51.25);
  }
}

@supports (margin-top: clamp( 1.25rem , -0.0426829268rem  +  6.4634146341vw , 4.5625rem )) {
  .clients__bottom {
    margin-top: clamp( 1.25rem , -0.0426829268rem  +  6.4634146341vw , 4.5625rem );
  }
}

@supports not (margin-top: clamp( 1.25rem , -0.0426829268rem  +  6.4634146341vw , 4.5625rem )) {
  .clients__bottom {
    margin-top: calc(1.25rem + 3.3125 * (100vw - 20rem) / 51.25);
  }
}

.top-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-clients__title {
  white-space: nowrap;
  margin: 0px 0.625em 0px 0px;
}

.top-clients__body {
  max-width: 445px;
  margin: 8px 0px 0px 0px;
}

.top-clients__info {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #222222;
}

.top-clients__subinfo {
  margin: 7px 0px 0px 0px;
}

.bottom-clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom-clients__link img {
  max-width: 146px;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

/**
 * Swiper 7.2.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 27, 2021
 */

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.swiper-virtual.swiper-css-mode .swiper-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}

.swiper-virtual.swiper-css-mode.swiper-horizontal .swiper-wrapper::after {
  height: 1px;
  width: var(--swiper-virtual-size);
}

.swiper-virtual.swiper-css-mode.swiper-vertical .swiper-wrapper::after {
  width: 1px;
  height: var(--swiper-virtual-size);
}

:root {
  --swiper-navigation-size: 44px;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: calc(var(--swiper-navigation-size) / 44 * 27);
  height: var(--swiper-navigation-size);
  margin-top: calc(0px - var(--swiper-navigation-size) / 2);
  z-index: 10;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: var(--swiper-navigation-size);
  text-transform: none !important;
  letter-spacing: 0;
  text-transform: none;
  font-variant: initial;
  line-height: 1;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10px;
  right: auto;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev";
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
}

.swiper-button-lock {
  display: none;
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s opacity;
  -o-transition: 0.3s opacity;
  transition: 0.3s opacity;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullets-dynamic {
  overflow: hidden;
  font-size: 0;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
  position: relative;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(0.66);
      -ms-transform: scale(0.66);
          transform: scale(0.66);
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
  -webkit-transform: scale(0.33);
      -ms-transform: scale(0.33);
          transform: scale(0.33);
}

.swiper-pagination-bullet {
  width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 8px));
  height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 8px));
  display: inline-block;
  border-radius: 50%;
  background: var(--swiper-pagination-bullet-inactive-color, #000);
  opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.2);
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-bullet:only-child {
  display: none !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}

.swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: var(--swiper-pagination-bullet-vertical-gap, 6px) 0;
  display: block;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
}

.swiper-pagination-vertical.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  display: inline-block;
  -webkit-transition: 0.2s top, 0.2s -webkit-transform;
  transition: 0.2s top, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s top;
  transition: 0.2s transform, 0.2s top;
  transition: 0.2s transform, 0.2s top, 0.2s -webkit-transform;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 0.2s left, 0.2s -webkit-transform;
  transition: 0.2s left, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s left;
  transition: 0.2s transform, 0.2s left;
  transition: 0.2s transform, 0.2s left, 0.2s -webkit-transform;
}

.swiper-horizontal.swiper-rtl > .swiper-pagination-bullets-dynamic .swiper-pagination-bullet {
  -webkit-transition: 0.2s right, 0.2s -webkit-transform;
  transition: 0.2s right, 0.2s -webkit-transform;
  -o-transition: 0.2s transform, 0.2s right;
  transition: 0.2s transform, 0.2s right;
  transition: 0.2s transform, 0.2s right, 0.2s -webkit-transform;
}

.swiper-pagination-progressbar {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}

.swiper-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}

.swiper-horizontal > .swiper-pagination-progressbar,
.swiper-pagination-progressbar.swiper-pagination-horizontal,
.swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite,
.swiper-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar-opposite,
.swiper-pagination-progressbar.swiper-pagination-vertical,
.swiper-vertical > .swiper-pagination-progressbar {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}

.swiper-pagination-lock {
  display: none;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-scrollbar-lock {
  display: none;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.swiper-zoom-container > canvas,
.swiper-zoom-container > img,
.swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.swiper-slide-zoomed {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s infinite linear;
          animation: swiper-preloader-spin 1s infinite linear;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}

.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}

.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.swiper .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-grid > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.swiper-grid-column > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-fade.swiper-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
       -o-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.swiper-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-fade .swiper-slide-active,
.swiper-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube {
  overflow: visible;
}

.swiper-cube .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
  visibility: hidden;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-cube .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-cube.swiper-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
          transform-origin: 100% 0;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-cube .swiper-slide-active,
.swiper-cube .swiper-slide-next,
.swiper-cube .swiper-slide-next + .swiper-slide,
.swiper-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-cube .swiper-slide-shadow-bottom,
.swiper-cube .swiper-slide-shadow-left,
.swiper-cube .swiper-slide-shadow-right,
.swiper-cube .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 0;
}

.swiper-cube .swiper-cube-shadow:before {
  content: "";
  background: #000;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.swiper-flip {
  overflow: visible;
}

.swiper-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-flip .swiper-slide-active,
.swiper-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-flip .swiper-slide-shadow-bottom,
.swiper-flip .swiper-slide-shadow-left,
.swiper-flip .swiper-slide-shadow-right,
.swiper-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-creative .swiper-slide {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  -webkit-transition-property: opacity, height, -webkit-transform;
  transition-property: opacity, height, -webkit-transform;
  -o-transition-property: transform, opacity, height;
  transition-property: transform, opacity, height;
  transition-property: transform, opacity, height, -webkit-transform;
}

.swiper-cards {
  overflow: visible;
}

.swiper-cards .swiper-slide {
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
}

@media (min-width: 47.99875em) {
  .menu__link:hover {
    color: #000000;
  }

  .menu-footer__link:hover {
    color: #f96241;
  }

  .form-footer__button:hover {
    background-color: #e9993d;
    color: #ffffff;
  }

  .bottom-footer__link:hover {
    color: white;
  }

  .social-footer__link:hover {
    color: #f96241;
  }

  .hero__link {
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
  }

  .hero__link:hover {
    background-color: #f96241;
  }

  .swiper-slide__video {
    width: 36vw;
  }

  .bottom-clients__link:hover img {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
}

@media (max-width: 53.625em) {
@supports (margin-right: clamp( 0.0625rem , -0.8887195122rem  +  4.756097561vw , 2.5rem )) {
    .menu-footer__item {
      margin-right: clamp( 0.0625rem , -0.8887195122rem  +  4.756097561vw , 2.5rem );
    }
}

@supports not (margin-right: clamp( 0.0625rem , -0.8887195122rem  +  4.756097561vw , 2.5rem )) {
    .menu-footer__item {
      margin-right: calc(0.0625rem + 2.4375 * (100vw - 20rem) / 51.25);
    }
}
}

@media (max-width: 47.99875em) {
  .footer__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .top-footer__logo {
    margin: 0px 0px 0.375rem 0px;
  }

@supports (margin-right: clamp( 0.875rem , 0.2408536585rem  +  3.1707317073vw , 2.5rem )) {
    .menu-footer__item {
      margin-right: clamp( 0.875rem , 0.2408536585rem  +  3.1707317073vw , 2.5rem );
    }
}

@supports not (margin-right: clamp( 0.875rem , 0.2408536585rem  +  3.1707317073vw , 2.5rem )) {
    .menu-footer__item {
      margin-right: calc(0.875rem + 1.625 * (100vw - 20rem) / 51.25);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .menu-footer__link {
      font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7774390244rem  +  0.487804878vw , 1.125rem )) {
    .menu-footer__link {
      font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 51.25);
    }
}

  .form-footer {
    margin: 10px 0px 0px 0px;
  }
}

@media (max-width: 37.5em) {
  .top-clients__title {
    margin: 0px 0px 0px 0px;
  }

  .top-clients {
    display: block;
    text-align: center;
  }

  .top-clients__body {
    max-width: 100%;
  }

  .bottom-clients__link img {
    max-width: 2.5rem;
  }
}

@media (max-width: 31.25em) {
  .footer__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .social-footer {
    margin: 0.625rem 0px 0px 0px;
  }
}